/*Comentário em CSS*/

/*


# [IMPORTANTE] Para modificar cores, fontes, etc da página:

    body{    <-- a chave aberta significa que a tag selecionada pode sofrer mudanças de estilo

    }


# [IMPORTANTE] Para mencionar mais de um tag 'class' com as mesmas propriedade, adicione ".nome {}"

    Exemplo: .logo, .headline {

}


# Trocar a cor de fundo:

    background-color: ;

# Cor do texto: 

    color: ;

# Altura:

    height: ;

# Largura:

    width: ;

# Fundo:

    background: ;

# Para por uma imagem no fundo:

    background-image: url("..");

# Fazer com que a imagem no fundo não se repita:

    background-repeat: no-repeat;

# Quanto que o fundo vai ocupar da tela:

    background-size: ;

# Comando onde é possível mudar o tamanho da letra e a fonte, Exemplo:

    font: normal 14pt Arial;

# Uma especificação muito vasta sobre fontes de texto:
    
    font-family: ;

# Tamanho da fonte:

    font-size: ;

# Alinhamento do texto:

    text-align: ;

# O espaço ao redor do conteúdo:

    padding: ;

# Margem:

    margin: ;

# Tamanho do topo da margem:

    margin-top: ;

# Uma linha ao redor fora do padding:

    border: ;

# Arredondamento das bordas:

    border-radius: ;

# Altura(tamanho) da linha:

    line-height: ;

# Determina o grau de opacidade do elemento:

    opacity: ;

# [Seletores] Faz com que um pseudo-elemento tenha propriedades distintas em tags específicas.
Sempre com o '::' depois de cada elemento: 

    # Alterações são aplicadas na primeira letra de um texto:

        ::first-letter {}

    # Alterações são aplicadas na primeira linha:

        ::firts-line {}

    # Alterações são aplicadas no final:

        ::after {}

    # Alterações são aplicadas no começo:

        ::before {}

    # Alterações são aplicadas durante o sublinhamento de um texto:

        ::selection {}


# [Position] Denominar por meio de propriedades a posição de alguma tag:

    # Geralmente esse é o valor padrão a ser definido:

        position: static;

    # É posicionado em relação ao antecessor:

        position: absolute;

    # Esse elemento é posicionado geralmente á esquerda (left: 20px):

        position: fixed;

    # Esse elemento é posicionado de acordo com o scroll position do usuário:
        
        postion: sticky;
*/